@model WebProjectRevision.Dtos.WorkerDto


<h3>Are you sure you want to delete worker?</h3>
<div style="font-size: 130%;">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            FirstName:
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>
        <dt class="col-sm-2">
            LastName:
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>
         <dt class="col-sm-2">
            MiddleName:
        </dt>
        <dd class="col-sm-10">
            @Model.MiddleName
        </dd>
         <dt class="col-sm-2">
            PhoneNumber:
        </dt>
        <dd class="col-sm-10">
            @Model.PhoneNumber
        </dd>
         <dt class="col-sm-2">
            Sex:
        </dt>
        <dd class="col-sm-10">
            @Model.Sex
        </dd>
         <dt class="col-sm-2">
            Age:
        </dt>
        <dd class="col-sm-10">
            @Model.Age
        </dd>
         <dt class="col-sm-2">
            DepartmentName:
        </dt>
        <dd class="col-sm-10">
            @Model.DepartmentName
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>